<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="jumbotron text-center">
        <h2>You need a checkup-specific link to access the form.</h2>
    </div>
</body>
</html>
