<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="jumbotron text-center">
        <h2>Please input your professional opinion.</h2>
        <h4>Checkup ID: <span id="checkup-id"><%- checkup_id %></span></h4>
    </div>
    <div class="container">
        <form class="form-group">
            <h4>Recommended action</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="action" name="action" value="hospital">
                    Go to a hospital immediately
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="action" name="action" value="physical-asap">
                    Schedule a physical checkup as soon as possible
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="action" name="action" value="continue">
                    Continue with in-app checkup every three months as normal<br>
                </label>
            </div>
            <h4>Additional comments</h4>
            <textarea name="comments" id="comments" class="form-control" rows="5"></textarea>
            <br>
            <h4>Password</h4>
            <input type="password" class="form-control" id="password"><br>
            <div class="alert alert-danger fade in hidden" role="alert" id="password-alert">
                <p>Incorrect password</p>
            </div>
            <div class="alert alert-success fade in hidden" role="alert" id="success-alert">
                <p>Thank you for your feedback!</p>
            </div>
            <input class="btn btn-default" type="button" value="Submit" onclick="onSubmit();">
        </form>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAAfTBK-hBUOG7t90LmQdnH8ZcvXBBQkOg",
            authDomain: "medhacks2017.firebaseapp.com",
            databaseURL: "https://medhacks2017.firebaseio.com",
            projectId: "medhacks2017",
            storageBucket: "medhacks2017.appspot.com",
            messagingSenderId: "557158205606"
        };
        firebase.initializeApp(config);
    </script>

    <script>
        function onSubmit() {
            var email = "doctor@example.com";

            var actions = [],
                actionOptions = document.getElementsByClassName('action'),
                actionsCheckedCount = 0,
                checkupId = parseInt(document.getElementById('checkup-id').innerHTML),
                comments = document.getElementById('comments').value,
                password = document.getElementById('password').value;

            for (var i = 0; i < actionOptions.length; i++) {
                if (actionOptions[i].checked) {
                    actionsCheckedCount++;
                }
                actions.push({
                    action: actionOptions[i].value,
                    selected: actionOptions[i].checked
                });
            }
            if (actionsCheckedCount > 0) {
                firebase.auth().signInWithEmailAndPassword(email, password).then(function() {
                    showSuccess();
                    updateCheckupFeedback(actions, comments, checkupId);
                    sendEmailNotification(actions, comments, checkupId);
                }).catch(function(error) {
                    console.log(error.code, error.message);
                    document.getElementById('password-alert').classList.remove('hidden');
                });
            }
        }

        function showSuccess() {
            document.getElementById('password-alert').classList.add('hidden');
            document.getElementById('success-alert').classList.remove('hidden');
        }

        function updateCheckupFeedback(actions, comments, checkupId) {
            firebase.database().ref('checkups/' + checkupId).update({
                actions: actions,
                comments: comments
            });
        }

        function sendEmailNotification(actions, comments, checkupId) {
            firebase.database().ref('checkups/' + checkupId).once('value').then(function(checkupSnapshot) {
                var patientId = checkupSnapshot.val().user_id;
                firebase.database().ref('user/' + patientId).once('value').then(function(patientSnapshot) {
                    var patientEmail = patientSnapshot.val().email;
                    console.log(patientEmail);

                    // Make POST request to send email
                    var httpRequest = new XMLHttpRequest();
                    httpRequest.open('POST', '/email/' + checkupId);
                    httpRequest.setRequestHeader("Content-Type", "application/json");
                    httpRequest.send(JSON.stringify({
                        "actions": actions, 
                        "comments": comments,
                        "patientEmail": patientEmail
                    }));
                });
            });
        }
    </script>
</body>
</html>
