<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="jumbotron text-center">
        <h2>Please input your professional opinion.</h2>
        <h4>Checkup ID: <span id="checkup-id"><%- checkup_id %></span></h4>
    </div>
    <div class="container">
        <form class="form-group">
            <h4>Recommended action</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="action" name="action" value="hospital">
                    Go to a hospital immediately
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="action" name="action" value="physical-asap">
                    Schedule a physical checkup as soon as possible
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="action" name="action" value="continue">
                    Continue with in-app checkup every three months as normal<br>
                </label>
            </div>
            <h4>Additional comments</h4>
            <textarea name="comments" id="comments" class="form-control" rows="5"></textarea>
            <br>
            <input class="btn btn-default" type="button" value="Submit" onclick="onSubmit();">
        </form>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAAfTBK-hBUOG7t90LmQdnH8ZcvXBBQkOg",
            authDomain: "medhacks2017.firebaseapp.com",
            databaseURL: "https://medhacks2017.firebaseio.com",
            projectId: "medhacks2017",
            storageBucket: "medhacks2017.appspot.com",
            messagingSenderId: "557158205606"
        };
        firebase.initializeApp(config);
    </script>

    <script>
        function onSubmit() {
            var actions = [],
                actionOptions = document.getElementsByClassName('action'),
                actionsCheckedCount = 0,
                comments = document.getElementById('comments').value;
            for (var i = 0; i < actionOptions.length; i++) {
                if (actionOptions[i].checked) {
                    actionsCheckedCount++;
                }
                actions.push({
                    action: actionOptions[i].value,
                    selected: actionOptions[i].checked
                });
            }
            if (actionsCheckedCount > 0) {
                updateCheckupFeedback(actions, comments);
            }
        }

        function updateCheckupFeedback(actions, comments) {
            // TODO Remove hard-coded values, need to change permissions
            var email = "potsui7@gmail.com";
            var password = "password";

            var checkupId = parseInt(document.getElementById('checkup-id').innerHTML);

            console.log(checkupId);
            console.log(actions);
            console.log(comments);

            firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
                var errorCode = error.code;
                var errorMessage = error.message;
                console.log(errorCode, errorMessage);
            });
            firebase.database().ref('checkups/' + checkupId).update({
                actions: actions,
                comments: comments
            });
        }
    </script>
</body>
</html>
