<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="jumbotron text-center">
        <h2>Please input your professional opinion.</h2>
    </div>
    <div class="container">
        <form>
            Recommended action:<br>
            <input type="text" name="action"><br>
            Additional comments:<br>
            <input type="text" name="comments">
        </form>
    </div>
</body>
</html>
